body {
	font-family: Times New Roman;
	background-image: url("http://www.polyvore.com/cgi/img-thing?.out=jpg&size=l&tid=10738860");
	}
	
h1 {
	font-size:32px;
	color:#ffffff;
	}
	
h2 {
	font-size:28px;
	color:#ffffff;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#ffffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ffffff;
	background-color:#222222;
	}

a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#ffffff;
	}
